.content {
    height: 100vh;
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    background-image: url("./herobg.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}